[Unit]
Description=Yurist Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/www/yurist_mini
ExecStart=/usr/bin/python3 bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 